<%= render "shared/flash" %>

<h1 class="title">Employees</h1>

<div>
  <%= link_to "Add User", new_user_path, class: "button is-link is-light" %>
</div>

<table class="table">
  <thead>
    <tr>
      <td>Name</td>
      <td>Email</td>
      <td>Role</td>
      <td>Actions</td>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
        <td><%= link_to "Remove", remove_user_path(user), method: :delete, class: "button is-danger is-small" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
