<%= render "shared/flash" %>

<div class="card px-4 py-4">
  <h1 class="title">Leave Requests</h1>

  <div class="card mt-6">
    <header class="card-header">
      <p class="card-header-title">
        Leave Requests
      </p>
    </header>

    <div class="card-content">
      <table class="table is-fullwidth is-hoverable">
        <thead>
          <tr>
            <td>Type</td>
            <td>Reason</td>
            <td>Start Date</td>
            <td>End Date</td>
            <td>No. of Days</td>
            <td>Status</td>
            <td>Actions</td>
          </tr>
        </thead>

        <tbody>
          <% @requests.each do |req| %>
            <tr>
              <td><%= req.category.titleize %></td>
              <td><%= req.reason %></td>
              <td><%= to_short_date req.leave_start_at %></td>
              <td><%= to_short_date req.leave_end_at %></td>
              <td><%= req.leave_in_days %></td>
              <td><%= req.status.titleize %></td>
              <td>
                <% if req.pending? %>
                  <div class="is-flex">
                    <div class="mr-2">
                      <%= link_to "Approve",
                        approve_request_leave_request_path(req),
                        method: :post,
                        class: "button is-link is-light has-background-success has-text-primary-light"
                      %>
                    </div>

                    <div>
                      <%= link_to "Decline",
                        decline_request_leave_request_path(req),
                        method: :post,
                        class: "button is-link is-light has-background-danger has-text-primary-light"
                      %>
                    </div>
                  <% end %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
