<%= render "shared/flash" %>

<div class="card px-4 py-4">
  <h1 class="title">Employee Details</h1>

  <div class="is-flex">
    <div class="mr-1 has-text-weight-medium">Name: </div>
    <div><%= @user.name.titleize %></div>
  </div>


  <div class="is-flex">
    <div class="mr-1 has-text-weight-medium">Email: </div>
    <div><%= @user.email %></div>
  </div>

  <div class="is-flex">
    <div class="mr-1 has-text-weight-medium">Remaining Leave Credits: </div>
    <div><%= @user.leave_credits %></div>
  </div>

  <div class="card mt-6">
    <header class="card-header">
      <p class="card-header-title">
        Leave Requests
      </p>

      <% if has_leave_credits?(@user.leave_credits) %>
        <%= link_to "File Leave Request", new_leave_request_path, class: "button is-link is-small mx-2 my-2" %>
      <% end %>
    </header>

    <div class="card-content">
      <table class="table is-fullwidth is-hoverable">
        <thead>
          <tr>
            <td>Type</td>
            <td>Reason</td>
            <td>Start Date</td>
            <td>End Date</td>
            <td>No. of Days</td>
            <td>Status</td>
          </tr>
        </thead>

        <tbody>
          <% @requests.each do |req| %>
            <tr>
              <td><%= req.category.titleize %></td>
              <td><%= req.reason %></td>
              <td><%= to_short_date req.leave_start_at %></td>
              <td><%= to_short_date req.leave_end_at %></td>
              <td>5</td>
              <td><%= req.status.titleize %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
